.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-right: 10%;
}

.outlet {
  max-height: 25rem;
  height: 60vh;
  flex-grow: 1;
  padding: 0 2rem;
  max-width: 25rem;
}

.links {
  max-height: 25rem;
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.link {
  color: var(--button-text);
  text-decoration: none;
  padding: 0.75rem 1rem;
  min-width: 6rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.link:hover {
  background-color: var(--button-background-hover);
}

.selected {
  font-weight: 500;
}
