.windowsControls {
  display: flex;
  height: 100%;
}

.windowsControl {
  width: 46px;
  border: none;
  background-color: transparent;
  color: var(--menubar-button);
}

.windowsControl:hover {
  background-color: var(--windows-control-background-hover);
}

.windowsControl:active {
  background-color: var(--windows-control-background-active);
}

.windowsClose:hover {
  background-color: #c42a1c;
  color: white;
}

.windowsClose:active {
  background-color: #c42a1cea;
  color: white;
}
