.menuButton {
  height: 1.2em;
  padding: 0.15em;
  color: var(--menubar-button);
  cursor: pointer;
}

.menuButton:hover {
  background-color: var(--menubar-button-background-hover);
  border-radius: 5px;
}
