.window {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.outlet {
  border-left: 2px solid rgb(238, 238, 238);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sideBar {
  border-right: 2px solid rgb(238, 238, 238);
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.link {
  color: #313131;
  cursor: pointer;
  text-decoration: none;
  display: block;
  background-color: rgb(240, 240, 240);
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0.5em 0.5em 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.link:hover {
  background-color: rgb(230, 230, 230);
}

.link:active {
  background-color: rgb(220, 220, 220);
}

@media (prefers-color-scheme: dark) {
  .sideBar {
    border-right: 2px solid rgb(34, 34, 34);
  }
  .outlet {
    border-left: 2px solid rgb(34, 34, 34);
  }

  .link {
    color: #f6f6f6;
    background-color: rgb(66, 66, 66);
  }

  .link:hover {
    color: #f6f6f6;
    background-color: rgb(76, 76, 76);
  }

  .link:active {
    background-color: rgb(86, 86, 86);
  }
}
