.window {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family:
    "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--primary-background);
  color: var(--primary-text);
}

.outlet {
  border-left: 2px solid var(--sidebar-separator);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sideBar {
  border-right: 2px solid var(--sidebar-separator);
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.link {
  color: var(--button-text);
  cursor: pointer;
  text-decoration: none;
  display: block;
  background-color: var(--button-background);
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em 0.5em 0.5em 0;
  box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.selected {
  font-weight: 700;
}

.link:hover {
  color: var(--button-text);
  background-color: var(--button-background-hover);
}

.link:active {
  color: var(--button-text);
  background-color: var(--button-background-active);
}
