body {
  margin: 0;

  /* Allotment overrides */
  --separator-border: transparent;
  --sash-size: 10px;

  /* Contexify overrides */
  --contexify-menu-padding: 5px 5px;
  --contexify-menu-radius: 6px;
  --contexify-menu-minWidth: 160px;
  --contexify-itemContent-padding: 2px 4px;
  --contexify-menu-bgColor: var(--button-background);
  --contexify-item-color: var(--button-text);
  --contexify-rightSlot-color: var(--button-text);
  --contexify-arrow-color: var(--button-text);
  --contexify-activeItem-bgColor: var(--button-background-hover);
  --contexify-activeItem-color: var(--button-text);
  --contexify-activeRightSlot-color: var(--button-text);
  --contexify-activeArrow-color: var(--button-text);

  .contexify {
    font-size: 0.9em;
  }
}

:root {
  --primary-background: #f6f6f6;
  --primary-text: #0f0f0f;
  --sidebar-separator: rgb(238 238 238);
  --menubar-background: rgb(238 238 238);
  --menubar-button: #3b3b3b;
  --menubar-button-disabled: rgb(175 175 175);
  --menubar-button-background-hover: #d8d8d8;
  --windows-control-background-hover: rgb(0 0 0 / 5%);
  --windows-control-background-active: rgb(0 0 0 / 3%);
  --button-text: #313131;
  --button-background: rgb(247 247 247);
  --button-background-hover: rgb(230 230 230);
  --button-background-active: rgb(220 220 220);
  --input-background: rgb(255 255 255);
}

[data-theme="dark"] {
  --primary-background: #2f2f2f;
  --primary-text: #f6f6f6;
  --sidebar-separator: rgb(34 34 34);
  --menubar-background: rgb(34 34 34);
  --menubar-button: rgb(236 236 236);
  --menubar-button-disabled: rgb(77 77 77);
  --menubar-button-background-hover: rgb(68 68 68);
  --windows-control-background-hover: rgb(255 255 255 / 6%);
  --windows-control-background-active: rgb(255 255 255 / 4%);
  --button-text: #f6f6f6;
  --button-background: rgb(66 66 66);
  --button-background-hover: rgb(76 76 76);
  --button-background-active: rgb(86 86 86);
  --input-background: rgb(40 40 40);
}

[data-theme="midnight"] {
  --primary-background: #000;
  --primary-text: #e7e7e7;
  --sidebar-separator: rgb(17 17 17);
  --menubar-background: rgb(17 17 17);
  --menubar-button: rgb(187 187 187);
  --menubar-button-disabled: rgb(77 77 77);
  --menubar-button-background-hover: rgb(68 68 68);
  --windows-control-background-hover: rgb(255 255 255 / 6%);
  --windows-control-background-active: rgb(255 255 255 / 4%);
  --button-text: #e7e7e7;
  --button-background: rgb(20 20 20);
  --button-background-hover: rgb(36 36 36);
  --button-background-active: rgb(53 53 53);
  --input-background: rgb(17 17 17);
}
