:root {
  /* Allotment */
  --separator-border: transparent;
  --sash-size: 10px;
}

body {
  margin: 0;
}

:root {
  --primary-background: #f6f6f6;
  --primary-text: #0f0f0f;
}

[data-theme="dark"] {
  --primary-background: #2f2f2f;
  --primary-text: #f6f6f6;
}
